<!-- TODO: add routerLink = route-page -->
@let routeInfo = routeInformation();
@if (routeInfo) {
  <div class="title">
    <button tuiIconButton appearance="icon" iconStart="@tui.chevron-left" size="m" type="submit">Back</button>
    <h2>
      Route <span>{{ routeInfo.id }}</span>
    </h2>
  </div>

  <button class="create-button" appearance="primary" size="s" tuiButton (click)="isOpenNewRideForm = true">
    Create new ride
  </button>
  @if (isOpenNewRideForm) {
    <dd-new-ride-form [path]="routeInfo.path"></dd-new-ride-form>
  }

  @for (rideCard of routeInfo.schedule; track rideCard.rideId) {
    <dd-ride-card
      [ride]="rideCard"
      [routeId]="routeInfo.id"
      [path]="routeInfo.path"
      (delete)="onRideDelete($event)"
    ></dd-ride-card>
  }
}
