:host {
  width: 50rem;
  font-weight: bold;
}

.header {
  gap: 1rem;
  align-items: center;
}

nav {
  overflow-x: auto;
}

div.tab-content {
  display: none;
}

div.active {
  display: block;
}

.type {
  display: flex;
  flex-direction: column;
}
