:host {
  display: block;
  width: 60rem;
  font-weight: bold;
}

.header {
  gap: 1rem;
  padding-bottom: 0.5rem;

  h2 {
    margin: 0.7rem 0;
  }

  p {
    margin: 0;
  }
}

.tabs {
  width: calc(100% - 5rem);
  padding: 1rem;
  box-shadow: none;
}

.type {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.header-buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
