<dd-order-panel
  [selectedOrder]="selectedOrder"
  [isBookSeat]="isBookSeat()"
  (bookSeat)="bookSeat($event)"
></dd-order-panel>

<div tuiHeader class="header">
  <button tuiIconButton appearance="icon" iconStart="@tui.chevron-left" size="m" type="submit">Back</button>
  <h2>Station {{ fromStation }} -> Station {{ toStation }}</h2>
</div>

@if (ride()) {
  <h3>{{ setTimes('start') }} - {{ setTimes('end') }}</h3>
  <p>Ride {{ ride()?.rideId }}</p>
}

<section class="horizontal">
  <nav tuiTabs [(activeItemIndex)]="activeItemIndex">
    <!-- TODO Adaptive tabs -->
    <div class="nav-container">
      @for (type of getCarriageTypes(); track type) {
        <button tuiTab class="type">
          {{ type }} ({{ totalSeatsForType(type) }})
          <div>{{ '$' | tuiCurrency }}{{ price[type] || 0 }}</div>
        </button>
      }
    </div>
  </nav>

  @for (type of getCarriageTypes(); track type) {
    <div class="tab-content" [ngClass]="{ active: activeItemIndex === $index }">
      @for (carriage of getCarriageListForType(type); track carriage.index) {
        <div>
          <h3>
            Car {{ carriage.index }}
            <tui-chip appearance="whiteblock">{{ getFreeSeatsByCarriage(carriage.index) }} seats</tui-chip>
          </h3>
          <dd-carriage-preview
            [ngClass]="{
              'selected-wrapper': getCarriageClass(carriage.index),
            }"
            class="preview"
            [carriage]="getCarriageByName(carriage.carriage)"
            [options]="options()"
            [bookSeats]="getFilteredSeats(carriage.index)"
            (seatSelected)="handleSeatSelected($event, carriage.index)"
          ></dd-carriage-preview>
        </div>
      }
    </div>
  }
</section>
