<dd-order-panel
  [selectedOrder]="selectedOrder"
  [isBookSeat]="isBookSeat()"
  (bookSeat)="bookSeat($event)"
  (cancelTrip)="cancelTrip()"
></dd-order-panel>

<p>Station {{ fromStation }}- Station {{ toStation }}</p>

@if (ride()) {
  <p>{{ setTimes('start') }} - {{ setTimes('end') }}</p>
  <p>Ride {{ ride()?.rideId }}</p>
}

<section class="horizontal">
  <nav tuiTabs [(activeItemIndex)]="activeItemIndex">
    @for (type of carriageTypes; track type) {
      <button tuiTab class="type">
        {{ type }}
        <div>{{ '$' | tuiCurrency }}{{ price[type] || 0 }}</div>
      </button>
    }
  </nav>
  @for (type of carriageTypes; track type) {
    <div class="tab-content" [ngClass]="{ active: activeItemIndex === $index }">
      @for (carriage of carriageList[type]; track carriage.index) {
        <div>
          <h3>Car {{ carriage.index }} ({{ freeSeats[carriage.index] }} seats)</h3>
          <dd-carriage-preview
            [ngClass]="{
              'selected-wrapper': getCarriageClass(carriage.index),
            }"
            class="preview"
            [carriage]="getCarriageByName(carriage.carriage)"
            [options]="options()"
            [bookSeats]="getFilteredSeatsByCarriageIndex(carriage.index)"
            (seatSelected)="handleSeatSelected($event, carriage.index)"
          ></dd-carriage-preview>
        </div>
      }
    </div>
  }
</section>
