<header tuiHeader>
  <h2 tuiTitle>Route {{ trainRoute().id }}</h2>

  <aside tuiAccessories>
    <tui-icon class="accessories" icon="@tui.pen" (click)="edit.emit(trainRoute().id)" />
    <tui-icon class="accessories" icon="@tui.bus" />
    <tui-icon class="accessories" icon="@tui.trash" />
  </aside>
</header>

<section class="card-description"><span class="subtitle">Path:</span> {{ trainRoute().path.join(', ') }}</section>
<section class="card-description">
  <span class="subtitle">Carriages:</span> {{ trainRoute().carriages.join(', ') }}
</section>
