@if (order()) {
  <div tuiCardLarge="normal" tuiSurface="elevated" class="card">
    @if (isAdmin()) {
      <div>{{ getUserName(order().userId) }}</div>
    }
    <div class="time-section">
      <div class="time-info">
        <span class="time-point">{{ setTimes('start') | date: 'MMMM dd, hh:mm' }}</span>
        <span class="line"></span>
        <span class="duration">{{ duration() }}</span>
        <span class="line"></span>
        <span class="time-point">{{ setTimes('end') | date: 'MMMM dd, hh:mm' }}</span>
      </div>
      <div class="station-info">
        <span>{{ getStationById(order().stationStart) }}</span>
        <span>{{ getStationById(order().stationEnd) }}</span>
      </div>
    </div>
    <div class="details-section">
      @if (bookSeat) {
        <div class="carriage-info">
          <strong>Carriage № </strong>
          {{ bookSeat.carriageIndex }} ({{ bookSeat.carriageName }})
        </div>
        <div class="seat-price-info">
          <span><strong>Seat: </strong> {{ bookSeat.localSeatNumber }}</span>
          <span><strong>Price: </strong>{{ currency | tuiCurrency }}{{ price[bookSeat.carriageType] }}</span>
        </div>
      }
    </div>
    @if (order().status === 'active') {
      <button appearance="accent" size="s" tuiButton (click)="onCancel($event)">Cancel order</button>
    }
  </div>
}
