@use '../../../../../styles/mixins';

:host {
  margin-top: 1rem;
}

:host ::ng-deep {
  .time .wrapper .inputs {
    flex-direction: column-reverse;

    @include mixins.media-tablet {
      flex-direction: row-reverse;
      width: 90%;
    }

    @include mixins.media-middle {
      flex-direction: column-reverse;
    }
  }

  .time .wrapper .inputs .input {
    @include mixins.media-tablet {
      width: 100%;
    }

    @include mixins.media-middle {
      width: auto;
    }
  }

  .time .wrapper {
    @include mixins.media-middle {
      flex-wrap: nowrap;
    }
  }
}

.stations,
.time,
.price {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;

  width: 100%;
}

.stations {
  display: flex;
  align-items: start;
  width: 100%;

  @include mixins.media-tablet {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.station {
  margin: 0;
}

.station-divider {
  width: 1px;
  height: 100%;
  margin: 1rem 0.5rem;
  background-color: var(--tui-text-tertiary);

  @include mixins.media-tablet {
    width: 100%;
    height: 1px;
    margin: 0 0.5rem;
  }
}

.input {
  flex-grow: 1;
  width: 100%;
}

.stations h4 {
  margin: 0;
}

.price h4 {
  margin-top: 0;
}
