:host {
  margin-top: 1rem;
}

.stations,
.time,
.price {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.input {
  width: 100%;
  flex-grow: 1;
}

.stations p {
  margin: 0;
}

.price h3 {
  margin-bottom: 10px;
}
