<div class="profile" *ngIf="userInformation | async as userInfo">
  <h2>Profile</h2>
  <h3 class="tui-space_bottom-6">{{ userInfo.role }}</h3>

  <dd-text-switch-form [form]="nameForm" [onSave]="saveName" [typeInputs]="'text'"></dd-text-switch-form>

  <dd-text-switch-form [form]="emailForm" [onSave]="saveEmail" [typeInputs]="'text'"></dd-text-switch-form>

  <div class="buttons">
    <button size="m" tuiButton type="button" class="tui-space_top-4" (click)="showDialog()">Change Password</button>
    <button size="m" tuiButton type="button" class="tui-space_top-4" (click)="logout()">Logout</button>
  </div>
</div>
