:host ::ng-deep {
  width: 30rem;

  .profile .wrapper .inputs {
    font-size: 1rem;
  }

  .profile div.wrapper {
    margin: 1.5rem 0;
  }

  .profile .wrapper .label {
    display: block;
  }
}

h3 {
  text-align: right;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 2rem;
}
