<div *ngIf="userInformation | async as userInfo">
  <h2>Profile</h2>
  <!-- <tui-avatar src="AA" class="text" [style.background]="'AA' | tuiAutoColor" /> -->
  <h3 class="tui-space_bottom-6">{{ userInfo.role }}</h3>

  <dd-profile-field2><tui-input [formControl]="control"></tui-input></dd-profile-field2>

  <!-- <dd-profile-field label="name" [text]="userInfo.name"></dd-profile-field>
  <dd-profile-field label="email" [text]="userInfo.email"></dd-profile-field> -->

  <div class="buttons">
    <button size="m" tuiButton type="button" class="tui-space_top-4" (click)="showDialog()">Change Password</button>
    <button size="m" tuiButton type="button" class="tui-space_top-4" (click)="logout()">Logout</button>
  </div>
</div>
