<div tuiCardLarge tuiSurface="elevated" class="overflow-visible">
  <form [formGroup]="rideForm" (ngSubmit)="rideForm.valid && onSubmit()">
    <div tuiHeader class="sticky-header">
      <h2 tuiTitle>New Ride</h2>
      <div tuiAccessories>
        <button tuiButton size="m" type="submit" [disabled]="rideForm.invalid">Save New Ride</button>
      </div>
    </div>
    <div formArrayName="segments">
      @for (segment of path(); track segment; let i = $index) {
        @if (i !== path().length - 1) {
          <div [formGroupName]="i" class="station-card-container">
            <div class="stations">
              <h4>{{ path()[i] }}</h4>
              <div class="station-divider"></div>
              <h4>{{ path()[i + 1] }}</h4>
            </div>

            <div class="time">
              <tui-input-date-time
                class="input"
                formControlName="departure"
                [min]="minDate"
                placeholder="Select departure"
              >
                Departure:</tui-input-date-time
              >
              <tui-input-date-time class="input" formControlName="arrival" [min]="minDate" placeholder="Select arrival">
                Arrival:</tui-input-date-time
              >
            </div>

            <div class="price">
              <h4>Prices:</h4>
              @for (key of carriages(); track key) {
                <tui-input-number class="input" [formControlName]="key" [tuiTextfieldPrefix]="'USD' | tuiCurrency">
                  {{ key }}:
                </tui-input-number>
              }
            </div>
          </div>
        }
      }
    </div>
  </form>
</div>
