@if (isEdit()) {
  @if (currentRouteId() !== null) {
    <dd-route-form [trainRoute]="routes()[currentRouteId() ?? 0]" (save)="onSave()"></dd-route-form>
  } @else {
    <dd-route-form (save)="onSave()"></dd-route-form>
  }
} @else {
  <button size="m" tuiButton (click)="onCreate()">Create</button>
}
@for (trainRoute of routes(); track trainRoute.id) {
  <div tuiCardLarge tuiSurface="elevated" class="tui-space_top-4">
    <dd-route-card [trainRoute]="trainRoute" (edit)="onEdit($event)" (delete)="onDelete($event)"></dd-route-card>
  </div>
}
