<div class="route-header">
  <div class="line-item">Time</div>
  <div class="marker-box"></div>
  <div class="line-item">Station</div>
  <div class="line-item">Stop</div>
</div>

@for (station of stationsInfo; track station.city; let i = $index) {
  <div class="line">
    <div class="line-item time-box">
      <span>{{ station.departureTime }}</span>
      <span>{{ station.arrivalTime }}</span>
    </div>
    <div class="marker-box">
      <div class="marker-line" [class.first-marker]="i === 0" [class.last-marker]="i === stationsInfo.length - 2"></div>
    </div>
    <div class="line-item" [class.lift-up]="i > 0">{{ station.city }}</div>
    <div class="line-item" [class.lift-up]="i > 0">{{ station.stopDuration }}</div>
  </div>
}
