<form class="tui-form__row" [formGroup]="carriageForm">
  <ng-container [ngTemplateOutlet]="input" [ngTemplateOutletContext]="{ title: 'name', label: 'Name' }"></ng-container>
  <ng-container [ngTemplateOutlet]="input" [ngTemplateOutletContext]="{ title: 'rows', label: 'Rows' }"></ng-container>
  <ng-container
    [ngTemplateOutlet]="input"
    [ngTemplateOutletContext]="{ title: 'leftSeats', label: 'Left Seats' }"
  ></ng-container>
  <ng-container
    [ngTemplateOutlet]="input"
    [ngTemplateOutletContext]="{ title: 'rightSeats', label: 'Right Seats' }"
  ></ng-container>

  <ng-template #input let-title="title" let-label="label">
    <div class="tui-form__row">
      <tui-input [formControl]="$any(carriageForm.controls)[title]">
        {{ label }}
        <input tuiTextfieldLegacy />
      </tui-input>
      <tui-error [formControl]="$any(carriageForm.controls)[title]" [error]="[] | tuiFieldError | async" />
    </div>
  </ng-template>
  @if (carriageForm.valid) {
    <dd-carriage-preview [carriage]="carriageForm.getRawValue()"></dd-carriage-preview>
  }

  <div class="tui-form__buttons tui-form__buttons_align_end">
    <button appearance="primary" size="m" tuiButton (click)="onSubmit()">
      @if (carriage()?.code) {
        Update
      } @else {
        Save
      }
    </button>

    <button appearance="error" size="m" tuiButton (click)="onCancel()">Cancel</button>
  </div>
</form>
