:host {
  display: flex;
  flex-direction: column;

  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 1rem;
}

main {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
}
