<nav tuiNavigationNav class="nav">
  <a [routerLink]="['/home']">Home</a>
  <a *ngIf="isLoggedIn()" [routerLink]="['/profile']">Profile</a>
  <a *ngIf="isAdminIn() || isLoggedIn()" [routerLink]="['/orders']">My orders</a>
  <a *ngIf="isAdminIn()" [routerLink]="['/admin']">Admin</a>
  <a *ngIf="!isLoggedIn()" [routerLink]="['/login']">Sign In</a>
  <button *ngIf="!isLoggedIn()" appearance="primary" size="s" tuiButton [routerLink]="['/registration']">
    Sign Up
  </button>
  <button *ngIf="isLoggedIn()" appearance="primary" size="m" tuiButton (click)="logout()">Logout</button>
</nav>
