<div class="route-header">
  <div class="line-item">Time</div>
  <div class="marker-box"></div>
  <div class="line-item">Station</div>
  <div class="line-item">Stop</div>
</div>

@for (station of stationsInfo; track station.city; let i = $index) {
  <div class="line">
    <div class="line-item time-box">
      <span>{{ station.departureTime }}</span>
      <span>{{ station.arrivalTime }}</span>
    </div>
    <div class="marker-box">
      <div
        class="connecting-line"
        [class.first-line-size]="i === 0"
        [class.last-line-size]="i === stationsInfo.length - 2"
        [ngClass]="{
          'current-station-color': i >= from && i < to,
          'station-color': i < from || i >= to,
        }"
      >
        <div class="map-pin">
          <tui-icon
            icon="@tui.map-pin"
            [ngClass]="{
              'current-station-color': i >= from && i <= to,
              'station-color': i < from || i > to,
            }"
          />
        </div>
      </div>
    </div>
    <div class="line-item" [class.lift-up]="i > 0">{{ station.city }}</div>
    <div class="line-item" [class.lift-up]="i > 0">{{ station.stopDuration }}</div>
  </div>
}
