@import '@taiga-ui/core/styles/taiga-ui-local';

$height-line: 5rem;
$shift-up: -0.8rem;

:host {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.route-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  .line-item:first-child {
    display: flex;
    justify-content: flex-end;
  }
}

.time-box {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;

  height: $height-line;
}

.line {
  display: flex;
}

.line-item {
  flex: 1;
}

.line:last-child {
  height: 0;
  margin-top: $shift-up;
}

.marker-box {
  display: flex;
  justify-content: center;
  width: 5rem;
}

.first-line-size {
  align-self: end;
  height: calc($height-line - 1rem);
}

.last-line-size {
  align-self: start;
  height: calc($height-line - 1rem);
}

.lift-up {
  margin-top: $shift-up;
}

.current-line-color,
.line-color {
  position: relative;
  border: 1px solid;
}

.line-color {
  border-color: var(--tui-status-neutral);
}

.current-line-color {
  border-color: var(--tui-info);
}

.current-marker::before,
.marker::before {
  content: '';

  position: absolute;
  top: -5px;
  left: -5px;

  width: 10px;
  height: 10px;

  border-radius: 50%;
}

.current-marker::before {
  background-color: var(--tui-info);
}

.marker::before {
  background-color: var(--tui-status-neutral);
}
