<div tuiPlatform="web" *ngFor="let station of stations()">
  <div tuiCardLarge tuiSurface="elevated">
    <header tuiHeader>
      <h2 tuiTitle>{{ station.city }}</h2>
      <div>Latitude: {{ station.latitude }}; Longitude: {{ station.longitude }}</div>
      <button
        appearance="secondary"
        size="m"
        tuiButton
        type="button"
        (click)="deleteStation(station.id)"
        class="tui-form__button"
      >
        <img alt="" [src]="'@tui.trash' | tuiIcon" />
      </button>
    </header>

    <section>
      Connected to:
      <span *ngFor="let station of station.connectedTo">
        {{ getStations(station.id)?.city }}
      </span>
    </section>
  </div>
</div>
