@if (carriage()) {
  <div tuiCardLarge="normal" tuiAppearance="secondary" tuiSurface class="highlight">
    <header tuiHeader>
      <h2 tuiTitle>{{ carriage()?.name }}</h2>
    </header>
    <section>
      <div class="carriage">
        <div class="column" *ngFor="let row of seatNumbers()">
          <div class="seats-right">
            @for (seatNumber of row.rightRow; track seatNumber) {
              <div class="seat">
                {{ seatNumber }}
              </div>
            }
          </div>
          <div class="aisle"></div>
          <div class="seats-left">
            @for (seatNumber of row.leftRow; track seatNumber) {
              <div class="seat">
                {{ seatNumber }}
              </div>
            }
          </div>
        </div>
      </div>
    </section>
  </div>
}
