@import './app/theme/variables';

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 30%);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0 0 0 / 50%);
}

.time .wrapper .inputs {
  flex-direction: column-reverse;
}

.profile .wrapper .inputs {
  font-size: 1rem;
}

.profile div.wrapper {
  margin: 1.5rem 0;
}

.profile .wrapper .label {
  display: block;
}
