<button class="create-btn" appearance="primary" size="m" tuiButton (click)="onCreate()">Create</button>

<div *ngIf="showForm()">
  <dd-carriage-form
    [carriage]="selectedCarriage"
    (submitForm)="onSubmit($event)"
    (cancelForm)="onCancel()"
  ></dd-carriage-form>
</div>

<div *ngFor="let carriage of combinedCarriages$ | async">
  <div class="carriage-item">
    <dd-carriage-preview [carriage]="carriage"></dd-carriage-preview>
    <div>
      <button class="edit-btn" appearance="primary" size="s" tuiButton (click)="onEdit(carriage)">Edit</button>
    </div>
  </div>
</div>
