:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40rem;
}

.create-btn {
  position: absolute;
  left: 0;
  margin-top: 1rem;
}

form {
  width: 50%;
}

.edit-btn {
  width: 100%;
}
