<p>Station {{ fromStation }}- Station {{ toStation }}</p>

@if (ride()) {
  <p>{{ setTimes('start') }} - {{ setTimes('end') }}</p>
  <p>Ride {{ ride()?.rideId }}</p>
}

<section class="horizontal">
  <nav tuiTabs [(activeItemIndex)]="activeItemIndex">
    @for (type of carriageTypes; track $index) {
      <button tuiTab class="type">
        {{ type }}
        <div>{{ price[type] || 0 }}{{ '$' | tuiCurrency }}</div>
      </button>
    }
  </nav>
  @for (type of carriageTypes; track $index) {
    <div class="tab-content" [ngClass]="{ active: activeItemIndex === $index }">
      @for (carriage of carriageList[type]; track $index) {
        <div>
          <h3>Car {{ carriage.index }}:</h3>
          <dd-carriage-preview
            class="preview"
            [carriage]="getCarriageByName(carriage.carriage)"
            [isClick]="true"
            [isShowTitle]="false"
            (seatSelected)="handleSeatSelected($event, carriage.index)"
          ></dd-carriage-preview>
        </div>
      }
    </div>
  }
</section>
