<tui-accordion>
  <div tuiCardLarge tuiSurface="elevated" class="ride-card">
    @let segments = ride().segments;
    @if (segments.length > 0) {
      <tui-accordion-item [open]="false">
        <header tuiHeader>
          <h4>Ride {{ ride().rideId }}</h4>
          <button tuiIconButton appearance="icon" iconStart="@tui.trash-2" size="m" (click)="deleteRide($event)">
            Delete
          </button>
        </header>

        <ng-template tuiAccordionItemContent>
          @for (segment of segments; track segment; let i = $index) {
            <dd-station-card
              [station]="[path()[i], path()[i + 1]]"
              [ids]="{ routeId: routeId(), rideId: ride().rideId }"
              [segments]="{ segments: segments, indexSegment: i }"
            ></dd-station-card>
          }
        </ng-template>
      </tui-accordion-item>
    }
  </div>
</tui-accordion>
