<div tuiCardLarge tuiSurface="elevated" class="overflow-visible">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div tuiHeader="m" class="form-header">
      <h3 tuiTitle>Route {{ trainRoute() ? trainRoute()?.id : '' }}</h3>

      <div tuiAccessories>
        <button size="m" tuiButton type="submit" [disabled]="form.invalid">
          {{ trainRoute() ? 'Update' : 'Save' }}
        </button>
      </div>
    </div>
    <div class="form-columns">
      <div class="form-rows tui-form__row_multi-fields" formArrayName="path">
        <div tuiHeader="xs">
          <h6 tuiTitle>Stations</h6>
        </div>
        @for (station of form.controls.path.controls; track $index) {
          <tui-select [formControl]="$any(station)" [valueContent]="trainPath" tuiTextfieldSize="m">
            Station
            <tui-data-list-wrapper *tuiDataList [itemContent]="trainPath" [items]="connectedToStations()[$index]" />
          </tui-select>
        }
        <div class="from-buttons">
          <button class="button" size="s" tuiButton type="button" (click)="addControl(ControlsType.path)">
            <tui-icon icon="@tui.plus" />
          </button>
          <button
            class="button"
            size="s"
            tuiButton
            type="button"
            (click)="removeControl(ControlsType.path)"
            [disabled]="form.controls.path.length <= 3"
          >
            <tui-icon icon="@tui.minus" />
          </button>
          <button class="button" size="s" tuiButton type="button" (click)="resetStations(ControlsType.path)">
            Reset
          </button>
        </div>
      </div>

      <div class="form-rows" formArrayName="carriages">
        <div tuiHeader="xs">
          <h6 tuiTitle>Cariages</h6>
        </div>
        @for (station of form.controls.carriages.controls; track $index) {
          <tui-select [formControl]="$any(station)" [valueContent]="carriageTemplate" tuiTextfieldSize="m">
            Carriage type
            <tui-data-list-wrapper *tuiDataList [itemContent]="carriageTemplate" [items]="carriages()" />
          </tui-select>
        }
        <div class="from-buttons">
          <button class="button" size="s" tuiButton type="button" (click)="addControl(ControlsType.carriages)">
            <tui-icon icon="@tui.plus" />
          </button>
          <button
            class="button"
            size="s"
            tuiButton
            type="button"
            (click)="removeControl(ControlsType.carriages)"
            [disabled]="form.controls.carriages.length <= 3"
          >
            <tui-icon icon="@tui.minus" />
          </button>
          <button class="button" size="s" tuiButton type="button" (click)="resetStations(ControlsType.carriages)">
            Reset
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #trainPath let-city>
  <span>
    {{ city }}
  </span>
</ng-template>
<ng-template #carriageTemplate let-carriage>
  <span>
    {{ carriage }}
  </span>
</ng-template>
